/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  background-image: var(--background-img);
  --background-img: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accessory-color: #353430;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --main-text-color: #FFC2E6;
  --hover-color: rgba(53, 52, 48, .4);
}

.page.theme_light .light-object {
  display: none;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --background-img: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accessory-color: #353430;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --main-text-color: #FFC2E6;
    --hover-color: rgba(53, 52, 48, .4);
  }
}