/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-img);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--IBMtext);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--accent-color);
  display: grid;
  padding: 10px;
  max-width: 1024px;
}

.page:last-child{
  gap: 30px;
}

.light-object {
  display: contents;
}

.light-object::after {
  content: 'REC';
  font-size: var(--font-size);
  color: var(--accent-color);
  position: absolute;
  top: 5px;
  right: 30px;
}

.light-object::before {
  content: '';
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 9px;
  right: 10px;
}

.decorated-zone {
  display: grid;
  gap: 65px;
  align-content: center;
}

.decorated-zone::before {
  content: '';
  display: inline-block;
  position: absolute;
  border: 1px solid var(--accent-text-color);
  border-bottom: none;
  border-left: none;
  height: 25px;
  width: 25px;
  top: 0;
  right: 0;
}

.decorated-zone::after {
  content: '';
  display: inline-block;
  position: absolute;
  border: 1px solid var(--accent-text-color);
  border-top: none;
  border-right: none;
  height: 25px;
  width: 25px;
  bottom: 20px;
  left: 0;
}

.header {
  position: relative;
}

.header__content {
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  gap: 55px;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: flex-end;
}

.header__theme-menu-button {
  padding: 2px 13px;
  text-transform: lowercase;
  color: var(--accent-text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-text-color);
  pointer-events: none; 
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-text-color);
}

.header__theme-text {
  font-weight: 700;
  line-height: 96px;
  color: var(--main-text-color);
  text-shadow: 4px 4px 0 var(--shadow-headlines);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.title-decor {
  font-weight: 700;
  color: var(--accessory-color);
  background-color: var(--accent-color);
  line-height: 24px;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 55px;
}

.main {
  display: grid;
  gap: 49px;
}

.section {
  display: grid;
  gap: 19px;
}

.section:last-of-type {
  gap: 10px;
  margin-bottom: 10px;
}

.section__headlines {
  color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px;
}

.section__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__column-row {
  display: grid;
  gap: 10px;
}

.section__title {
  font-size: inherit;
}

.section h4 {
  font-weight: 400;
}

.section__text {
  color: var(--text-color);
  line-height: 23.4px;
}

.section__text-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.section__text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__text-link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

.section__image {
  width: 100%;
}

.footer {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.footer.decorated-zone::before {
  top: 10px;
}

.footer.decorated-zone::after {
  bottom: 10px;
}

.footer__text {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  color: var(--main-text-color);
  text-shadow: 2px 2px 0 var(--shadow-headlines);
  text-align: center;
}


@media (768px <= width < 1024px){

  .page {
    padding: 20px 20px 0;
  }

  .page:last-child {
    gap: 40px;
  }

  .header.decorated-zone::after {
    bottom: 40px;
  }

  .footer.decorated-zone::before {
    top: 20px;
  }

  .footer.decorated-zone::after {
    bottom: 20px;
  }

  .header__text {
    gap: 160px;
  }

  .header__content {
    justify-content: space-evenly;
    height: calc(100vh - 40px);
  }

  .header__theme-text {
    position: relative;
    left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .title-decor {
    align-self: end;
    max-width: 50%;
  }

  .section-table {
    display: flex;
  }

  .section__column {
    gap: 20px;
  }

  .section-table .section__headlines {
    min-width: 35%;
  }

  .section-table .section__title {
    justify-self: start;
    place-self: stretch;
    margin: 0;
    max-width: none;
  }

  .section__text {
    margin-bottom: 10px;
  }

  .section__text:last-of-type {
    margin-bottom: 0;
  }
  
  .main {
    gap: 80px;
  }

  .section {
    gap: 0;
  }

  .section:nth-of-type(2) .section__headlines {
    max-width: 30%;
    margin-bottom: 15px;
  }

  .section .section__title {
    margin-top: 0;
    max-width: none;
    justify-self: start;
    place-self: stretch;
  }

  .section-gallery .title-decor {
    justify-self: start;
    place-self: stretch;
    max-width: none;
    grid-column: 1 / 4;
    grid-row: 1;
    margin: 0;
  }

  .section:last-of-type {
    gap: 20px;
    margin-bottom: 20px;
  }

  .section-gallery {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-auto-flow: dense;
  }

  .section__image:nth-of-type(1) {
    grid-column: 1 / 3;
  }

  .section__image:nth-of-type(2) {
    height: 100%;
    object-fit: cover;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .section__image:nth-of-type(3) {
    height: 100%;
    object-fit: cover;
    grid-column: 1;
    grid-row: 3 / 6;
  }

  .section__image:nth-of-type(5) {
    height: 100%;
    object-fit: cover;
    grid-column: 2 / 4;
    grid-row: 4 / 6;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  
}

@media (width >= 1024px) {

  .page {
    padding: 20px 20px 0;
  }

  .page:last-child {
    gap: 40px;
  }

  .header__theme-menu {
    padding: 0;
  }

  .header__content .title-decor {
    align-self: end;
    max-width: 50%;
  }

  .header__text {
    gap: 115px;
  }

  .header__content {
    justify-content: flex-start;
    height: calc(100vh - 40px);
    gap: 275px;
  }

  .header__theme-menu-list {
    justify-content: center;
    flex-direction: row;
  }

  .header__theme-text {
    position: relative;
    left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header.decorated-zone::after {
    bottom: 40px;
  }

  .footer.decorated-zone::before {
    top: 20px;
  }

  .footer.decorated-zone::after {
    bottom: 20px;
  }

  .section-table {
    display: flex;
  }

  .section-table .section__headlines {
    min-width: 33%;
  }

  .section-table .section__title {
    justify-self: start;
    place-self: stretch;
    margin: 0;
    max-width: none;
  }
  
  .main {
    gap: 80px;
  }

  .section {
    gap: 10px;
  }

  .section:last-of-type {
    gap: 20px;
    margin-bottom: 22px;
  }

  .section:nth-of-type(2) {
    display: block;
  }

  .section__column-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .section__column {
    gap: 19px;
  }

  .section__column-flex .section__column-row {
    display: flex;
    flex-direction: column;
  }

  .section:nth-of-type(2) .section__headlines {
    max-width: 30%;
    margin-bottom: 19px;
  }

  .section-gallery .title-decor {
    place-self: stretch;
    max-width: none;
    grid-column: 1 / 4;
    grid-row: 1;
    margin: 0;
  }

  .section-gallery {
    grid-auto-flow: dense;
  }

  .section__image:nth-of-type(1) {
    grid-column: 1 / 3;
  }

  .section__image:nth-of-type(2) {
    height: 100%;
    object-fit: cover;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .section__image:nth-of-type(3) {
    height: 100%;
    object-fit: cover;
    grid-column: 1;
    grid-row: 3 / 6;
  }

  .section__image:nth-of-type(5) {
    height: 100%;
    object-fit: cover;
    grid-column: 2 / 4;
    grid-row: 4 / 6;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
}