/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-size: 18px;
  --text-color: #F1B2CE;
  --accessory-color: #000028;
  --accent-color: #FF0070;
  --main-text-color: #DB00FF;
  --hover-color: rgba(255, 0, 112, .4);
}